<div class="">
  <span id="xplBtn" class="tgLink dispinlbl"><%= t("hello.welcomeTxt2") %></span>
	<ul id="ulXpl" style="display: none;">
	   <li>
	      <%= t("hello.welcomeTxt3") %>
	   </li>
	   <li>
	      <%= t("hello.welcomeTxt4") %>
	   </li>
	   <li>
	      <%= t("hello.welcomeTxt5") %>
	   </li>
	   <li>
	      <%= t("hello.welcomeTxt6") %>
	   </li>
	   <li>
	      <%= t("hello.welcomeTxt7") %>
	   </li>
	</ul>
</div>
<br>